@keyframes span1colours {
    0% {color: #3f6212;}
    40% {color: #8eb040;}
    55% {color: #f48a2e;}
    65% {color: #c05300;}
    /* 60% {color: #c05300;} */
    75% {color: #f48a2e;}
    85% {color: #8eb040;}
    100% {color: #3f6212;}
}

@keyframes span2colours {
    0% {color: #ff4800;}
    10% {color: #ff6000;
        text-shadow: 0 0 0.25rem #ff6000;}
    20% {color: #ff7900;
        text-shadow: 0 0 0.5rem #ff7900;}
    30% {color: #ff9100;
        text-shadow: 0 0 0.75rem #ff9100;}
    40% {color: #ffaa00;
        text-shadow: 0 0 1rem #ffaa00;}
    50% {color: #ffb600;
        text-shadow: 0 0 1.25rem #ffb600;}
    60% {color: #ffb600;
        text-shadow: 0 0 1.25rem #ffb600;}        
    70% {color: #ffaa00;
    text-shadow: 0 0 1rem #ffaa00;}
    80% {color: #ff9100;
        text-shadow: 0 0 0.75rem #ff9100;}
    90% {color: #ff7900;
        text-shadow: 0 0 0.5rem #ff7900;}
    100% {color: #ff6000;
        text-shadow: 0 0 0.25rem #ff6000;}
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;   
}

.homeh1 {
    height: 40%;
    margin-top: 5%;
    display: flex;
    align-items: end;
    justify-content: center;
}

.homeh2 {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.homeh3 {
    height: 30%;
    display: flex;
    align-items: start;
    justify-content: center;
    margin-bottom: 5%;
}

.home h1 {
    margin: 0;
    font-size: 6rem;
    color: #3f6212;
}

.home h2 {    
    font-size: 3rem;
    color: #3f6212;
    margin: 0;    
}

.home .span1 {
    animation-name: span1colours;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.home .span2 {
    animation-name: span2colours;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    font-size: 4.5rem;
}

@media only screen and (max-width: 460px) {
    .home h1 {
        font-size: 3rem;
    }

    .home h2 {
        font-size: 2rem;
    }

    .home .span2 {
        font-size: 2.5rem;
    }
}

@media only screen and (min-width: 461px) and (max-width: 600px) {
    .home h1 {
        font-size: 4.5rem;
    }

    .home h2 {
        font-size: 3rem;
    }

    .home .span2 {
        font-size: 4rem;
    }
}

