@import "tailwindcss";


/* 
/* The switch - the box around the slider */
/* .switch {
    position: relative;
    display: inline-block;
    width: 3em;
    height: 1.5em;    
} */

/* Hide default HTML checkbox */
/* .switch input {
  opacity: 0;
  width: 0;
  height: 0;
} */

/* The slider */
/* .slider {   
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f48a2e;
  transition: .4s;
} */

/* .slider::before {
  position: absolute;
  content: "";
  height: 1.2em;
  width: 1.2em;
  left: 3px;
  bottom: 3px;
  background-color: #fff1f2;
  transition: .4s;
} */

/* input:checked + .slider {
  background-color: #c05300;
} */

/* input:focus + .slider {
  box-shadow: 0 0 1px #c05300;
} */

/* input:checked + .slider:before {
  transform: translateX(30px);
} */

/* Rounded sliders */
/* .slider.round {
  border-radius: 1.5em;
}

.slider.round:before {
  border-radius: 50%;
} */

@media only screen and (max-width: 460px) {
    header {
        padding-top: 1em;
        padding-bottom: 1em;
        height: auto;
    }
    header nav {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    header nav ul {
        gap: 0.5em;
    }

    header h1 {
        font-size: 1.2rem;
    }

    .nav-link {
        font-size: 0.9rem;
    }
}

@media only screen and (min-width: 461px) and (max-width: 600px) {
    header {
        padding-top: 1em;
        padding-bottom: 1em;
        height: 2.5em;
    }
    
    header nav {
        padding-left: 2em;
        padding-right: 2em;
    }

    header nav ul {
        gap: 2em;
        padding-top: 0.5em;
    }

    header h1 {
        font-size: 1.7rem;
    }

    .nav-link {
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
    header {
        padding-top: 1em;
        padding-bottom: 1em;
        height: 3em;
    }
    
    header nav {
        padding-left: 3em;
        padding-right: 3em;
    }

    header nav ul {
        gap: 2em;
        padding-top: 0.7em;
    }

    header h1 {
        font-size: 2.2rem;
    }

    .nav-link {
        font-size: 1.0rem;
    }
}

@media only screen and (min-width: 801px) and (max-width: 1000px) {
    header {
        padding-top: 1em;
        padding-bottom: 1em;
        height: 3em;
    }
    
    header nav {
        padding-left: 4em;
        padding-right: 4em;
    }

    header nav ul {
        gap: 3em;
        padding-top: 0.8em;
    }

    header h1 {
        font-size: 2.5rem;
    }

    .nav-link {
        font-size: 1.2rem;
    }
}