@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-sttextcolor: #3f6212;
  --color-highlights: #c05300;
  --color-backgroundlight: #fff1f2;
  --color-highhighlights: #f48a2e;
}

html,
body {
  @apply bg-backgroundlight dark:bg-gray-950;
  @apply text-sttextcolor dark:text-backgroundlight;
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
    
  }
}

/* header styling */

header {
  @apply bg-backgroundlight dark:bg-gray-950;
  @apply flex flex-col items-center justify-evenly w-full m-0 z-1000 top-0 h-30;
  @apply border-b-1 border-highlights dark:border-gray-800;
}

.navbar {
  @apply flex items-center justify-between w-full m-0 pb-4 h-20;
  @apply border-b-1 border-highlights dark:border-gray-800;
}

header nav ul {
  @apply list-none pr-10 m-0 flex gap-12 pt-2;
}

header h1 {
  @apply text-4xl font-semibold m-0 pl-10;
}

.nav-link {
  @apply font-semibold text-2xl no-underline;  
}

.styles-content {
  @apply flex items-center gap-4;
  @apply w-full;
}

.dm-toggle {
  @apply flex items-center justify-center gap-2 w-full;
  @apply font-semibold text-xl;
}

.dm-toggle p {
  @apply font-semibold;
}

.toggle {
  @apply flex items-center justify-center gap-0.5;
}

.switch {
  @apply relative inline-block w-12 h-6;
}

/* Hide default HTML checkbox */
.switch input {
  @apply opacity-0 w-0 h-0;
}

.slider {
  @apply absolute cursor-pointer top-0 left-0 right-0 bottom-0 bg-highhighlights transition duration-400;
}

.slider::before {
  @apply absolute content-[''] h-4 w-4 left-1 bottom-1 bg-backgroundlight transition duration-400;
}

input:checked + .slider::before {
  @apply transform translate-x-6;
}

.slider.round {
  @apply rounded-full;
}

.slider.round::before {
  @apply rounded-full;
}

/* footer styling */

footer {
  @apply p-2 text-center fixed bottom-0 w-full z-1000 h-24 m-0;
  @apply border-t-1 border-highlights;
}

footer p {
  @apply m-0 mb-2 text-xl text-highlights font-semibold;
}

.footer-links {
  @apply flex items-center justify-center gap-48;
}

footer .icons {
  @apply w-12 h-12 text-sttextcolor;
}